<template>
  <div class="row">
    <div class="left">
      <h1 v-if="isPersonelList">Liste Boş</h1>
      <h2 v-else>Personel List</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in personelList" :key="index">
            <td>{{ item.name }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.age }}</td>
            <td @click="deletePersonel(index)">Delete</td>
          </tr>
        </tbody>
      </table>
      <button @click="changeList()">Change List Emit</button>
    </div>
    <div class="right">
      <h2>Create Personel </h2>
      <label for="">Name</label>
      <input type="text" v-model="personelObj.name" />
      <label for="">Surname</label>
      <input type="text" v-model="personelObj.surname" />
      <label for="">Age</label>
      <input type="text" v-model="personelObj.age" />

      <button @click="add()">{{ pageName }} Listesine Ekle</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    personelList: {
      type: Array,
    },
    personelObj: {
      type: Object,
      default: () => {
        return {};
      },
    },
    pageName: {
      type: String,
    },
  },
  data() {
    return {
      newPersonelList: [
        { name: "Arda", surname: "Yeni", age: 30 },
        { name: "Arda", surname: "Yeni", age: 30 },
      ],
    };
  },
  computed: {
    isPersonelList() {
      return !this.personelList.length;
    },
  },
  methods: {
    changeList() {
      this.$emit("changeListEmit", this.newPersonelList);
    },
    add() {
      this.$emit("add");
    },
    deletePersonel(index) {
      this.$emit("deletePersonel", index);
    },
  },
};
</script>
<style scoped>
.row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  display: block;
}
</style>
