<template>
  <div class="home container">
    <img alt="Vue logo" src="../assets/logo.png" />

    <HelloWorld msg="Softtech Home" />

    <Table
      :personelList="personelList"
      :personelObj="personelObj"
      pageName="Home"
      @changeListEmit="changeList"
      @add="add"
      @deletePersonel="deletePersonel"
    />
    <button @click="setList()">Home Set List</button>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import Table from "../components/helper/Table.vue";
export default {
  name: "Home",
  components: {
    HelloWorld,
    Table,
  },
  data() {
    return {
      personelList: [],
      personelObj: {
        name: "",
        surname: "",
        age: "",
      },
    };
  },
  mounted() {
    this.setList();
  },
  methods: {
    changeList(value) {
      this.personelList = value;
    },
    add() {
      this.personelList.push(this.personelObj);
      this.personelObj = {};
    },
    deletePersonel(index) {
      this.personelList.splice(index, 1);
    },
    setList() {
      this.personelList = [
        { name: "Melik", surname: "Nogay", age: 24 },
        { name: "Ecem", surname: "Kara", age: 22 },
        { name: "Rabia", surname: "Şengül", age: 27 },
        { name: "Burcu", surname: "Taşan", age: 34 },
      ];
    },
  },
};
</script>
